<body>
  <div class="text-center">
    <table>
      <tr>
        <div class="row">
          <div class="form-group col-xs-6">
            <label for="firstname" class="sr-only"></label>
            <input id="firstname" class="form-control input-group-lg reg_name" type="text" name="searchText"
              title="Search Latest Products" placeholder="Search Latest Products" />
          </div>

          <div class="form-group col-xs-6">
            <label for="lastname" class="sr-only"></label>
            <button type="button" class="form-control btn btn-outline-primary" name="search">Search</button>
          </div>
      </tr>
      <tr>
        <h3>Shop New Products</h3>
      </tr>
    </table>
  </div>
</body>